/jsvnews/database/dbs/articles/db/
/jsvnews/data/emails/prepared/
/jsvnews/data/emails/raw/
/jsvnews/data/
/jsvnews/data/matrices/
/jsvnews/cache/
/jsvnews/cache
/jsvnews/lib/ABSA_BERT_MODEL/bert-linear-commonsents-finetune
/jsvnews/lib/ABSA_BERT_MODEL/cache
/jsvnews/lib/ABSA_BERT_MODEL/data
/jsvnews/lib/ABSA_BERT_MODEL/runs
/jsvnews/lib/tsne_python/*.txt
/jsvnews/venv_parent
/jsv_news.egg-info
/jsvnews.egg-info
/.idea
/.idea/workspace.xml
/jsv_news.egg-info/
/jsvnews.egg-info/
/jsvnews/src/viz_biz/__pycache__/
/jsvnews/src/tools/__pycache__/
/jsvnews/src/statistical_tests/__pycache__/
/jsvnews/src/__pycache__/
/jsvnews/main/__pycache__/
/jsvnews/main/tools/__pycache__/
/jsvnews/lib/tsne_python.zip
/jsvnews/lib/ABSA_BERT_MODEL/__pycache__/
/jsvnews/jsv_news.egg-info/
/jsvnews/emailscripts/.previousgroupend.txt
/jsvnews/emailscripts/parsedemails/
/jsvnews/emailscripts/newssource/
/jsvnews/emailscripts/datafiles/
/jsvnews/emailscripts/__pycache__/
/jsvnews/database/dbs/articles.db
/jsvnews/cron/out.err
/jsvnews/database/__pycache__/
/jsvnews/database/code/__pycache__/
/jsvnews/src/emailscripts/__pycache__/
/words2resolved.txt
/jsvnews/utilities/words2resolved.txt
